################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/THBMTTNC_ST5/CopilotIndices/18.3.511.5503
/.vs
/Lab01/ex04/__pycache__
